.header {
    display: inline-flex;
    justify-content: right;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 1em;
}

.bar {
    position: fixed;
    width: 100%;
    padding: 0;
    top: 0;
    left: 0;
    height: 3.5em;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 2px 10px rgba(53, 33, 37, 0.3);
    border-radius: 0 !important;
    z-index: 1;
    box-sizing: border-box;
}

.title {
    text-align: left;
    margin-left: 1.5em;
}

.headerItem {
    min-width: 3em;
    text-align: center;
    padding: 0.35em .75em;
    height: 100%;
    box-sizing: border-box;
    border-radius: .25em;
    transition: background-color 0.3s;
    margin: 0 0.2em;
}

.headerItem:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.selectedItem {
    background-color: rgba(255, 255, 255, 0.75);
}

.selectedItem:hover {
    background-color: rgba(255, 255, 255, 0.35) !important;
}

.headerContainer {
    position: relative;
    width: 100%;
    max-width: 75em;
    justify-content: space-between;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: auto;
    height: 3.5em;
}