.glass {
    background-color: #ffd3d965;
    box-shadow: 5px 5px 10px rgba(53, 33, 37, 0.3);
    border-bottom: solid 1px #816967;
    border-radius: 1rem;
    backdrop-filter: blur(3px);
    padding: 1rem;
}

.glass.high-blur {
    backdrop-filter: blur(10px);
}

.glass.higher-blur {
    backdrop-filter: blur(20px);
}

.glass.highest-blur {
    backdrop-filter: blur(30px);
}

.glass.glass-on-glass {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: none;
    border: none;
}