.fitBackground {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -114;
}

.fitBackground > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: calc(100vh + 80px);
    height: 100%;
    min-width: 100vw;
    overflow: visible;
}

@media (min-aspect-ratio: 1/1) {
    .fitBackground > img {
        width: 100%;
    }
}


@media (max-aspect-ratio: 1/1) {
    .fitBackground > img {
        height: 100%;
    }
}